<div class="page-header">
  <%= link_to new_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Category
  <% end %>
  <h1>Listing categories</h1>
</div>

<div class="row">
  <%= content_tag_for(:p, @categories) do |category| %>
  <div class="col-sm-6 col-md-3 thumb_style">
        <div class="caption caption_style">
          <p class="border_bottom"><b>Category Name:</b> <%= category.category_name %></p>
          <p class="border_bottom"><b>Description:</b> <%= category.description %></p>
          <% if category.status == "1" %>
              <p> <b>Status:</b> <span class="active_style">Active</span></p>
          <% else %>
              <p> <b> Status:</b> <span class="inactive_style">Inactive</span></p>
          <% end %>

        </div>
        <div class="thumbnail">
          <%= image_tag category.picture, :class => "img-responsive set_style"  %>
        </div>
        <div class="caption">
          <p>
            <button class="btn btn-default"><%= link_to 'Show', category %></button>
            <button class="btn btn-default"><%= link_to 'Edit', edit_category_path(category) %></button>
            <button class="btn btn-default"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </p>
        </div>
  </div>
  <% end %>
</div>







