<div class="page-header">
  <%= link_to categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_category_path(@category), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show category</h1>
</div>

<dl class="dl-horizontal">
  <dt>Category name:</dt>
  <dd><%= @category.category_name %></dd>

  <dt>Description:</dt>
  <dd><%= @category.description %></dd>

  <dt>Picture:</dt>
  <dd><%= image_tag @category.picture, :class=> "img-responsive show_set_style" %></dd>

  <dt>Status:</dt>
  <dd>
    <% if @category.status == "1" %>
        <p> <span class="active_style">Active</span></p>
    <% else %>
        <p> <span class="inactive_style">Inactive</span></p>
    <% end  %>

  </dd>

</dl>
