<div class="page-header">
  <%= link_to categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_category_path(@category), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show category</h1>
</div>
<% @products.each do | product |  %>
    <div class="col-sm-6 col-md-3"><br/>
      <div class="thumbnail">
        <div class="caption">
          <p class="border_bottom"><b>Product Name: </b><%= product.product_name %></p>
          <p class="border_bottom"><b>Available Size: </b><%= product.available_size %></p>
          <p class="border_bottom"><b>Price: </b><%= product.price %></p>
          <p class="border_bottom"><b>Category Name: </b><%= product.category.category_name %></p>
          <p class="border_bottom"><%= pluralize(product.votes.count, "vote") %></p>
        </div>
        <div class="product_image_container">
          <%= image_tag product.picture, :class => "img-responsive", :class => "image_height" %>
        </div>
      </div>
    </div>
<% end %>
